*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}
*:disabled {
  cursor: not-allowed;
}

/* #root{
  height: 100dvh;
} */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f7f8fd;
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  hyphens: auto;
}
img {
  max-width: 100%;
}
@media (max-width: 860px) {
  html {
    font-size: 55.2%;
  }
}
@media (max-width: 690px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 30%;
  }
}
